<h1>This is Contact Component-Page</h1>
<!-- {{FName}}
{{LName}}
{{12+12}} -->


<table border="1">
    <tr>
        <td>
            FirstName
        </td>
        <td>
            {{FirstName}}
        </td>
    </tr>
    <tr>
        <td>
            LastName
        </td>
        <td>
            {{LastName}}
        </td>
    </tr>
    <tr>
        <td>
            Age
        </td>
        <td>
            {{Age}}
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            {{Gender}}
        </td>
    </tr>

</table>