<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
            <li class="active"><a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/emp">Employee</a></li>
            <li> <a routerLink="/eventservice">Event With Services </a></li>
            <li> <a routerLink="/reactiveform">ReactiveForm Demo </a></li>
            <li> <a routerLink="/userlist">UserList </a></li>
            <li> <a routerLink="/bindingdemo">BindingDemo </a></li>
            <li> <a routerLink="/styledemo">NgStyle and NgClass </a></li>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>


<!-- <h1 style="background-color: aqua;">Welcome to Angular Project</h1> -->
<!-- <app-home></app-home>
<app-contact></app-contact>
<rashmi></rashmi>
<app-employee></app-employee> -->
<!-- <like-dislike></like-dislike> -->