<div class="well">
    <form class="form-inline">
        <div class="from-group">
            <input placeholder="Event Name" class="form-control" #eventname />

        </div>
        <div class="from-group">
            <input placeholder="Description" class="form-control" #desciption />

        </div>
        <div class="from-group">
            <input placeholder="Speaker" class="form-control" #speaker />

        </div>
        <button (click)="addEvent(eventname.value,desciption.value,speaker.value )" type="button">Add New Event</button>
    </form>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Speaker</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.speaker}}</td>
            <td> <button (click)="deleteFromService(event)" class="btn btn-danger">X</button></td>

        </tr>
    </tbody>
</table>